<a href="https://colab.research.google.com/github/Meghanakm-24/Python-files/blob/main/Advanced_data_structuresipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Deque--Double ended queue

In [ ]:
from collections import deque
d=deque()
d.append(1)
print(d)
d.appendleft(2)
print(d)

deque([1])
deque([2, 1])

In [ ]:
#remove elements from deque
d.pop()
print(d)

deque([2])

In [ ]:
d.extend([1,2,3])
d.extendleft([4,5,6])
print(d)

deque([6, 5, 4, 2, 1, 2, 3])

In [ ]:
d.rotate(2)
print(d)
d.rotate(-2)
print(d)

deque([2, 1, 2, 3, 6, 5, 4])
deque([2, 3, 6, 5, 4, 2, 1])

Namedtuple

In [ ]:
from collections import namedtuple
person=namedtuple('person',['name','age','city'])
#create an instance of person
person1=person(name='John Doe',age=30,city='Newyork')
print(f"name={person1.name}")
print(person1.age)
print(person1.city)

name=John Doe
30
Newyork

Chainmap

using multiple dictionaries as single unit without merging them

In [ ]:
from collections import ChainMap
dict1={'a':1,'b':2}
dict2={'b':3,'c':4}
chain=ChainMap(dict1,dict2)
print(chain)
#Access values
print(chain['a'])
print(chain['b'])
print(chain['c'])
print(chain.maps[1]['b'])

ChainMap({'a': 1, 'b': 2}, {'b': 3, 'c': 4})
1
2
4
3

Counter

subclass of dictionaries designed to count hashable(cant be changed) objects

In [ ]:
from collections import Counter
counter=Counter(['apple','banana','apple','orange','banana'])
print(counter)

#access counts
print(counter['apple'])
print(counter['banana'])
print(counter['orange'])

Counter({'apple': 2, 'banana': 2, 'orange': 1})
2
2
1

In [ ]:
from collections import Counter
a=Counter([1,2,4,5,3,4,5,7,5,3])
print(a)

Counter({5: 3, 4: 2, 3: 2, 1: 1, 2: 1, 7: 1})

Ordered dict

In [ ]:
from collections import OrderedDict
od=OrderedDict()
od['a']=1
od['b']=2
od['c']=3
od['e']='word'
print(od)

print(od['e'])

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('e', 'word')])
word

Default dict

Assigns default value to the key that doesnt exsist

In [ ]:
from collections import defaultdict
d=defaultdict(int)
d['python']=1
d['java']=2
d['SQL']
d['powerbi']
print(d)

defaultdict(<class 'int'>, {'python': 1, 'java': 2, 'SQL': 0, 'powerbi': 0})