<a href="https://colab.research.google.com/github/Meghanakm-24/Meghanakm-24/blob/main/Pandas_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python- Pandas Library

- Pandas is a powerful, flexible, and easy-to-use open-source data manipulation and analysis library in Python. It is widely used for working with structured data, such as tables, time series, and other data types.  

#Pandas provides two main data structures:

1. Series: A one-dimensional labeled array capable of holding any data type.

2. DataFrame: A two-dimensional labeled data structure with columns that can be of different types (like a table or a spreadsheet).

#Key Features of Pandas:

- Data Handling: Pandas allows you to read and write data in various formats, such as CSV, Excel, SQL, and JSON.
- Data Cleaning: You can handle missing data, duplicate entries, and perform transformations efficiently.
- Data Analysis: Pandas offers various functions for aggregating, grouping, and pivoting data.
- Indexing and Selection: You can easily select, filter, and slice data using labels or conditions.
- Time Series: Pandas has powerful tools for handling time series data, including date-time indexing and frequency handling.

# Common Operations in Pandas:
- Creating DataFrames and Series: You can create DataFrames from dictionaries, lists, or NumPy arrays.
- Reading and Writing Data: Functions like pd.read_csv(), pd.read_excel(), and pd.to_sql() are used to read and write data in various formats.
- Handling Missing Data: Functions like fillna(), dropna(), and isna() help handle missing values.
- Grouping and Aggregating: Use groupby() for grouping data and functions like mean(), sum(), and count() for aggregation.

In [ ]:
import pandas as pd
data = [1,2,3,4]     #simple list

print(data)

series =pd.Series(data)

print(series)

In [ ]:
type(series)

pandas.core.series.Series

In [ ]:
#How to change the Index name ?

List =pd.Series([1,2,3,4],index=['a','b','c','d'])

List

#Data Frames

#Key Characteristics of a DataFrame:
-1. Rows and Columns: It has labeled rows (index) and columns, making it easy to access and manipulate data.

 -2. Heterogeneous Data: Each column can contain data of a different type (e.g., numerical, categorical, or textual).

 -3. Indexing: Rows and columns can be accessed using labels (names) or numerical positions.

 -4. Built-in Functions: It provides numerous functions to clean, filter, aggregate, and analyze data.

In [ ]:
#Creating Data Frame Using a List:

import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)

df

In [ ]:
#Creating a DataFrame using Series

series = pd.Series([4,5], index = ["a", "b"])
print(series)
type(series)
df = pd.DataFrame(series)

print(df)
type(df)

In [ ]:
#Creating a DataFrame using NumPy Array:
import numpy as np
import pandas as pd

array =np.array([[5000, 6000 ], ["John", "James"]])

df= pd.DataFrame({"Name": array[1], "Salary":array[0]})

df

In [ ]:
df = pd.DataFrame(np.random.randint(0,10,(3,3)),columns=['x1','x2','x3'])

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df

#Join and Concatenation in Pandas
- Both join and concatenation are commonly used operations in Pandas for combining datasets.
- Let’s explore them with simple examples.

#1. Concatenation in Pandas
- Concatenation is used to combine two or more DataFrames along a particular axis (either rows or columns).

In [ ]:
#Example 1: Concatenation Along Rows (Axis 0)

import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

print(df1)

df2 = pd.DataFrame({
    'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5']
})

print(df2)

# Concatenate DataFrames along rows
result = pd.concat([df1, df2])

print(result)

In [ ]:
#Example 2: Concatenation Along Columns (Axis 1)

# Concatenate DataFrames along columns
result = pd.concat([df1, df2], axis=1)

print(result)

- To get the result with continued indexing when concatenating DataFrames in Pandas, you can use the ignore_index=True parameter.
- This parameter resets the index in the resulting DataFrame, so the indexing starts from 0 and increments continuously.
- ignore_index=True: This parameter resets the index in the resulting DataFrame, so instead of maintaining the original indices (which could repeat), a new index is generated, starting from 0 and continuing sequentially.
- This way, you get a clean, continuous index for your concatenated DataFrame.

- Here’s how you can achieve that:

In [ ]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

df2 = pd.DataFrame({
    'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5']
})

# Concatenate DataFrames and reset index
result = pd.concat([df1, df2], ignore_index=True)

print(result)

#Difference Between join and merge in Pandas
- merge: Combines DataFrames based on keys(columns)/Values(Rows), similar to SQL joins. It offers flexibility with joining on multiple keys.

- join: Primarily used for combining DataFrames on the index. It’s more convenient when you want to join by the index rather than by column.

#1.Inner Merge:

Explanation: Returns only the rows where the key exists in both DataFrames.

In [ ]:
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value': [1, 2, 3, 4]
})
print(df1)
df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value': [5, 6, 7, 8]
})

print(df2)

result = pd.merge(df1, df2, on='key', how='outer')
print(result)

#2.Left Merge :

- Explanation: Returns all rows from the left DataFrame, and matching rows from the right DataFrame. If no match, NaN is returned.
- Explanation: All rows from df1 are included, and matching rows from df2 fill the value_y column. If there’s no match, NaN is filled.

In [ ]:
result = pd.merge(df1, df2, on='key', how='left')
print(result)

#3. Right Merge:

- Explanation: Returns all rows from the right DataFrame, and matching rows from the left DataFrame.

- Explanation: All rows from df2 are included, with matching rows from df1. Missing matches are filled with NaN.

In [ ]:
print(df1)
print(df2)

result = pd.merge(df1, df2, on='key', how='right')
print(result)

#4. Outer Merge:

- Explanation: Returns all rows when there is a match in either left or right DataFrame. Rows with no match in either DataFrame get NaN.
- Explanation: Combines all keys from both DataFrames, filling in missing values with NaN.

In [ ]:
result = pd.merge(df1, df2, on='key', how='outer')
print(result)

In [ ]:
import pandas as pd

# DataFrame 1
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [23, 34, 25, 40]
})

# DataFrame 2
df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Department': ['HR', 'Finance', 'IT', 'Marketing'],
    'Salary': [50000, 60000, 55000, 70000]
})

# Perform Inner Join
result = df1.merge(df2, on='ID', how='inner')

print(result)

result1=pd.merge(df1,df2, on='ID', how='inner')
print(result1)

In [ ]:
import pandas as pd

# DataFrame 1
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [23, 34, 25, 40]
})

# DataFrame 2
df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Department': ['HR', 'Finance', 'IT', 'Marketing'],
    'Salary': [50000, 60000, 55000, 70000]
})

# Set ID as the index
df1.set_index('ID', inplace=True)
df2.set_index('ID', inplace=True)

print(df1)

print(df2)

In [ ]:
# Using join with inner join
result_join = df1.join(df2, how='inner')
print("\nResult of join:\n", result_join)


#Homework: perform right,left and outer joins.

In [ ]:
df1.columns

In [ ]:
df1.index

#Differences
- 1.merge:

Requires an on parameter to specify the key column.
The ID column is included as a regular column.
The output is more suitable when you want to explicitly show the joining key as a column.
- 2.join:

Uses the index as the key by default, so you don't need to specify the on parameter.
The ID column is set as the index.
The output is more suitable when you want to perform a join based on the index and don't need the key as a separate column.
Conclusion
Both merge and join can be used for inner joins, but merge is more versatile when you need to join on specific columns that are not indices. join, on the other hand, is simpler when working with DataFrames where the keys are already set as indices.

Dataset: Motor Trend Car Road Tests 32 observations on 11 (numeric) variables. The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973--74 models).

#Importing Data Set in our Notebook.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Dataset Import

In [ ]:
import pandas as pd

# Make sure the path to your file is correct
file_path = '/content/drive/My Drive/Python - Teaching Material/Data Sets/mtcars2.csv'  #'C:/Users/user/Downloads/mtcars2.csv'

#Jupyter_Notebook= 'C:/Users/chand/Downloads/mtcars2.csv'

# Read dataset and store it into a DataFrame
cars = pd.read_csv(file_path)   #cars=pd.read_csv('C:\\Users\\Admin\\Downloads\\mtcars2.csv')

# Print the DataFrame
print(cars)

Here we are going to import our dataset.

In [ ]:

#to be removed before recording---to convert the mpg column to str--
cars.mpg = cars.mpg.astype(str)
#cars.Unnamed:1=cars.Unnamed:1.astype(str)

# Analysis

After importing the dataset we are all set to perform different analysis.

In [ ]:
#check the type
type(cars)

pandas.core.frame.DataFrame

In [ ]:
#view only the first five records
cars.head()

  Unnamed: 0   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [ ]:
#view only the first ten records
cars.head(10)

In [ ]:
#view only the last five records
cars.tail()

In [ ]:
#view only the last ten records
cars.tail(2)

In [ ]:
#view number of rows and columns in the dataframe
cars.shape

(44, 12)

In [ ]:
#print a concise summary of the columns
cars.info()

In [ ]:
#mean
mean_values = cars.mean(numeric_only=True)
print(mean_values)

In [ ]:
#median
median_values = cars.median(numeric_only=True)
print(median_values)

In [ ]:
#standard deviation
std_values = cars.std(numeric_only=True)
std_values

In [ ]:
#maximum of each attribute
cars.max(numeric_only=True)
#cars.max()

In [ ]:
#minimum of each attribute
cars.min()

In [ ]:
#number of non-null records in each column
cars.count()

In [ ]:
#descriptive statistics summary
cars.describe()

In [ ]:
print(cars)

# Cleaning

After analysing we have realized that our dataset is not perfect, some column names are irrelevant, there are a few missing data, some column has important data but cant perform some operation because they are of string type. So now with the help of PAndas we will be cleaning or in other words we will be making our data perfect to perform further operations.

In [ ]:
#rename column
cars=cars.rename(columns={'Unnamed: 0':'model'})
print(cars)

In [ ]:
#Fill the null values with mean of the column
cars.qsec=cars.qsec.fillna(cars.qsec.mean())   #cars.qsec.mean =17.674828
cars

In [ ]:
cars.describe()

In [ ]:
#drop unwanted column
cars = cars.drop(columns=['S.No'])
cars

In [ ]:
#Drop unwanted Row

cars = cars.drop(index=2)
cars

- A correlation matrix is a table showing correlation coefficients between sets of variables. Each cell in the table shows the correlation between two variables. The value is in the range of -1 to 1, where:

- 1 indicates a perfect positive correlation (as one variable increases, the other also increases).
- -1 indicates a perfect negative correlation (as one variable increases, the other decreases).
- 0 indicates no correlation (no linear relationship between the variables).

Now from the correlation we can see lowest correlation is between "am" and "carb". So when we will taking "carb" as reference for any analysis we can drop "am", since it will not add any change or value to the analysis. In the same way we can drop "carb" column while taking "am" as reference for any analysis.

# Manipluation

Sometimes we don't need the whole dataset for analysis and cut them in small chunks, sometimes we need to arrange them in an certain order(ascending or descending), sometimes we may need to set a certain value to a column or apply a function to a column, sometmes we may also need to apply filters to our dataset---all of these comes under Pandas Data Manipulation.

# Indexing by position

In [ ]:
#view hp column only
print(cars.iloc[ : ,4])   #[ :  (Rows), 4(Columns)]

In [ ]:
#first five records of hp column
cars.iloc[ 0:5,4]   #5-1=4th index

In [ ]:
#all rows, all columns
cars.iloc[ : , : ]  #[ : , : ]

In [ ]:
#for attributes from hp to carb see all the records from index 6
cars.iloc[6:,4:]

#View attributes from drat to vs and records from 2nd index to 10th index
cars.iloc[2:11,5:9]

In [ ]:
#Now we want to look at all the rows and only the first column
cars.iloc[:,0]

# indexing by label

In [ ]:
#see all the record of mpg column
cars.loc[:,"mpg"]

In [ ]:
#display the records from index 0 to index 6 from mpg column
cars.loc[0:6,"mpg"]

In [ ]:
#see the first 7 records from mpg to qsec column
cars.loc[0:6,"mpg":"qsec"]

In [ ]:
#set value 1 to column 'am'   automated = 0 , manual =1
cars['am'] = 1
cars

In [ ]:
#double up records in 'am' using lambda fxn
f = lambda x: x*2
cars['am']= cars['am'].apply(f)
cars

# Sorting

In [ ]:
#sorting cyl column ascending order
cars.sort_values(by='cyl')

In [ ]:
#sort cyl in descending order
cars.sort_values(by='cyl', ascending=False)

In [ ]:
cars.sort_values(by='mpg', ascending=False)

#sort mpg column by descending order
cars.sort_values(by='mpg', ascending=False)

# Filtering

In [ ]:
#filter records with more than 6 cylinders
cars['cyl'] >= 6

In [ ]:
#filter records with more than 6 cylinders
filter1 = cars['cyl'] > 6
#apply filter to dataframe
filtered_new = cars[filter1]
#view filtered dataframe
filtered_new

In [ ]:
cars[(cars["cyl"] > 6) & (cars["hp"] > 300)]

In [ ]:
new=cars[cars['cyl'] > 6]
new

In [ ]:
#filter records with more than 6 cyl and hp more than 300
filter2 = (cars["cyl"] > 6) & (cars["hp"] > 300)
#apply filter to dataframe
filtered_review = cars[filter2]
#display filtered data
filtered_review

In [ ]:
#filter records with more than 6 cyl and mpg greater than 20

# Data Visualization

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
#see how hp varies with each car with line plot
y = cars['hp']   #0,4,6
x  = range(44)   #0,1,2,3,.....,44
plt.plot(x,y)

NameError: name 'cars' is not defined

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
#see how hp varies with each car with line plot
y2 = cars['disp']
x  = range(44)
plt.plot(x,y2)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y1 = cars['hp']
y2 = cars['disp']
#see how both hp and disp varies
x  = range(44)
plt.plot(x,y1)
plt.plot(x,y2)
plt.legend()

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y1 = cars['hp']
y2 = cars['disp']
x  = range(44)
#area plot of hp and disp
plt.stackplot(x,y1)#,colors = 'r', alpha = 0.7)
plt.stackplot(x,y2)#,colors = 'c', alpha = 0.5)

In [ ]:
import matplotlib.pyplot  as plt
%matplotlib inline
y1 = cars['hp']
y2 = cars['disp']
x  = range(44)
#plot both line plot and area plot to see the margin
plt.plot(x,y1, linewidth = 2.0, color = 'c')
plt.stackplot(x,y1,colors = 'gold', alpha = 0.7)
plt.plot(x,y2, linewidth = 1.0, color = 'gold')
plt.stackplot(x,y2,colors = 'b', alpha = 0.5)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y = cars['hp']
#x  = range(32)
#model to list
x1 = cars['model'].tolist()
#adding figure to adjust figsize
#fig = plt.figure(figsize = (30,15))
#see how hp changes with bar plot
plt.bar(x1,y,color="purple", alpha=0.9)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y = cars['hp']
x  = range(32)
x1 = cars['model'].tolist()
fig = plt.figure(figsize = (17,10))
#to avoid the overlapping issue plot horizontal bar plot
plt.barh(x1,y, color="purple", alpha=0.8)

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_excel('/content/Sample - Superstore.xlsx')
data

In [ ]:
data= data.drop(columns=['Customer ID'])
print(data)

In [ ]:
data.shape

(9994, 21)

In [ ]:
print(data)

In [ ]:
data.index

In [ ]:
data.columns

In [ ]:
#Pandas is data manipulation and data analysis Library

In [ ]:
data

In [ ]:
data['City']   #Subsetting of Data

In [ ]:
data[['City','Segment']].head(2)

In [ ]:
data[['City','Segment']].tail(3)

In [ ]:
#i loc - integer location

data.iloc[0:2,0:2]

In [ ]:
data.iloc[0:5,-3: ]

In [ ]:
data.loc[0:3,['Row ID','Segment']]

In [ ]:
data.loc[0:3,'Row ID':'Segment']

In [ ]:
#loc function can fetch table columns by name:

In [ ]:
data.loc['Profit': ]

In [ ]:
data['Segment'].unique()

In [ ]:
data['Segment'].value_counts()

In [ ]:
data.shape[0]  #if I 0 it gives only Rows

9994